body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root, body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shadow-lg-hover {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.shadow-lg-hover:hover {
  box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15)!important;
}

.bg-light-theme-gradient {
  background: linear-gradient(to right, rgb(53, 92, 125, 0.7), rgb(108, 91, 123, 0.7), rgb(192, 108, 132, 0.7));
}